body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f8f8;
    color: #333;
}

header {
    background: #c6bd13;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    margin: auto;
    padding: 20px;
}

a {
    padding: 15px;
    color: #f8f8f8;
    text-decoration: none;
}

img {
  width: 900px;
  height:200px;
  border-radius: 20px;
  padding: 20px;
}

section {
    margin-top: 20px;
    padding: 15px;
}

.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #aaaf08;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}